.maindiv{
    min-height: 60vh;
    background: linear-gradient(270deg,
            #3a7bd5,
            #00d2ff,
            #f857a6);
    background-size: 600% 600%;
    animation: gradientMove 10s ease infinite;
}
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.buttonbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    border: 0px solid white;
}
#project{
    width: 150px;
    height:50px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgb(207, 150, 65);
}
#contact{
    width: 150px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid white;
}
#contact > a{
    color: white;
}
#project:hover{
    background-color: rgb(156, 156, 236);
}
#contact:hover{
    background-color: rgb(120, 157, 145);
}
.cont{
    width: auto;
    display: grid;
    gap: 20px;
    margin-top: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    border: 0px sodid black;
}
.cont > div{
    border: 0px solid red;
}
.intro{
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1,fit-content);
    grid-template-rows: repeat(3, auto);
}
.intro > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 0px solid greenyellow;
}
.intro > div > h1{
    color: white;
    font-size: 40px;
    margin: 0px;
    font-weight: bold;
}
.intro > div > p{
    color: white;
    font-size: 25px;
    margin: 0px;
    font-weight: bold;
}
.desh{
    margin: 30px 0px -30px 0px;
}
.para{
    margin: -30px 0px 30px 0px;
}
.image{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.image > img{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px solid white;
}
.content{
    gap: 20px;
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    margin-top: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,auto);
    border: 0px solid black;
}
.content > .about{
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    border: 2px solid grey;
}
.us,.sk{
    display: flex;
    flex-wrap: wrap;
    margin: -25px 5px 0px 5px;
    justify-content: center;
    border: 0px solid blue;
}
.us > h1{
    color: black;
    font-size: 40px;
    font-weight: bold;
}
.sk >p{
    color: black;
    font-size: 25px;
    font-weight: bold;
}
@media all and (max-width: 370px){
    .maindiv{
        min-height: 45vh;
    }
    .buttonbox{
        gap: 1px;
        justify-content: space-between;
    }
    #project{
        width: 130px;
        height: 45px;
        font-size: 15px;
        margin-top: 10px;
    }
    #contact{
        width: 130px;
        height: 45px;
        font-size: 15px;
        margin-top: 10px;
    }
    .cont{
        gap: 0px;
    }
    .intro > div > h1{
        font-size: 20px;
    }
    .intro > div > p{
        font-size: 15px;
    }
    .desh{
        margin: 2px 0px 0px 0px;
    }
    .wal{
        margin: 2px 0px -10px 0px;
    }
    .para{
        margin: 11px 0px 0px 0px;
    }
    .image > img{
        width: 150px;
        height: 150px;
    }
    .content{
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .us,.sk{
        margin: -10px 5px 0px 5px;
    }
    .us > h1{
        font-size: 20px;
    }
    .sk > p{
        font-size: 12px;
    }
}
@media all and (min-width: 371px) and (max-width: 440px){
    .maindiv{
        min-height: 50vh;
    }
    .buttonbox{
        gap: 1px;
        justify-content: space-around;
    }
    #project{
        width: 150px;
        height: 50px;
        font-size: 20px;
        margin-top: 10px;
    }
    #contact{
        width: 150px;
        height: 50px;
        font-size: 20px;
        margin-top: 10px;
    }
    .cont{
        gap: 0px;
    }
    .intro > div > h1{
        font-size: 30px;
    }
    .intro > div > p{
        font-size: 20px;
    }
    .desh{
        margin: 2px 0px 0px 0px;
    }
    .wal{
        margin: 2px 0px -10px 0px;
    }
    .para{
        margin: 11px 0px 0px 0px;
    }
    .image > img{
        width: 180px;
        height: 180px;
    }
    .content{
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .us,.sk{
        margin: -10px 5px 0px 5px;
    }
    .us > h1{
        font-size: 30px;
    }
    .sk > p{
        font-size: 18px;
    }
}
@media all and (min-width: 441px) and (max-width: 550px){
    .maindiv{
        min-height: 70vh;
    }
    .desh{
        margin: 2px 0px 0px 0px;
    }
    .wal{
        margin: 2px 0px -10px 0px;
    }
    .para{
        margin: 11px 0px 0px 0px;
    }
}
