body {
  background: linear-gradient(270deg,
      #9a4fd0,
      #65bcb9,
      #974c70);
  background-size: 600% 600%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.heading{
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.para{
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.maindiv{
  gap: 20px;
  width: 100%;
  display: grid;
  flex-wrap: wrap;
  margin-top: 80px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1, auto);
  border: 0px solid white;
}
.maindiv > div{
  border: 0px solid black;
}
.child1{
  gap: 10px;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
}
.child1 > .add{
  display: flex;
  flex-wrap: wrap;
  border: 0px solid yellow;
}
.os{
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  border: 0px solid gold;
}
.ic,.ad{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border: 0px solid green;
}
.ad{
  text-align: center;
}
.ic > .bi{
  font-size: 60px;
}
.ad >h3,p{
  font-weight: bold;
}
.ad > h3{
  font-size: 40px;
  margin: 0px;
}
.ad > p{
  font-size: 30px;
  margin: 0px;
}
.formbox{
  background-color: white;
}
.formbox > h2{
  font-size: 30px;
  font-weight: bold;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
}
.formbox > form > input,textarea{
  width: 85%;
  border: none;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid grey;
  padding: 10px 5px;
  margin: 0% 0% 5% 10%;
  outline: none;
  font-size: 20px;
}
.formbox > form > textarea {
  resize: none;
  height: 60px;
}
.formbox > form > button {
  background: #1ecad3;
  border: none;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10%;
  margin-bottom: 5%;
  padding: 10px 30px;
  color: white;
  font-size:  20px;
  cursor: pointer;
  border-radius: 10px;
}
.formbox > form > button:hover {
  background: #1294bf;
}
@media all and (max-width: 370px){
  .heading{
    font-size: 35px;
  }
  .para{
    font-size: 23px;
  }
  .maindiv{
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    flex-direction: column;
  }
  .child1{
    gap: 5px;
    margin-bottom: 10%;
  }
  .os{
    gap: 5px;
    margin-left: 8%;
  }
  .ic > .bi{
    font-size: 40px;
  }
  .ad > h3{
    font-size: 28px;
  }
  .ad > p{
    font-size: 21px;
    font-weight: normal;
  }
  .formbox > h2{
    font-size: 27px;
  }
  .formbox > form > input,textarea{
    font-size: 15px;
  }
  .formbox > form > textarea{
    height: 50px;
  }
  .formbox > form > button{
    margin-bottom: 15%;
  }
}
@media all and (min-width: 371px) and (max-width: 500px) {
  .heading {
    font-size: 40px;
  }

  .para {
    font-size: 25px;
  }

  .maindiv {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    flex-direction: column;
  }

  .child1 {
    gap: 5px;
    margin-bottom: 13%;
  }

  .os {
    gap: 5px;
    margin-left: 5%;
  }

  .ic > .bi {
    font-size: 50px;
  }

  .ad > h3 {
    font-size: 35px;
  }

  .ad > p {
    font-size: 25px;
  }

  .formbox > h2 {
    font-size: 29px;
  }

  .formbox > form > input,
  textarea {
    font-size: 19px;
  }

  .formbox > form > textarea {
    height: 60px;
  }

  .formbox > form > button {
    margin-bottom: 15%;
  }
}
@media all and (min-width: 501px) and (max-width: 750px) {
  .heading {
    font-size: 40px;
  }

  .para {
    font-size: 25px;
  }

  .maindiv {
    gap: 1px;
  }

  .child1 {
    gap: 10px;
  }

  .os {
    gap: 2px;
    margin-left: 2%;
  }

  .ic>.bi {
    font-size: 40px;
  }

  .ad>h3 {
    font-size: 25px;
  }

  .ad>  p {
    font-size: 17px;
    font-weight: normal;
  }

  .formbox > h2 {
    font-size: 27px;
  }

  .formbox > form > input,
  textarea {
    font-size: 15px;
  }

  .formbox > form > textarea {
    height: 50px;
  }

  .formbox > form > button {
    margin-bottom: 15%;
  }
}
@media all and (min-width: 751px) and (max-width: 852px){
  .os{
    gap: 2px;
    margin-left: 2%;
  }
  .ad >p{
    font-size: 25px;
  }
}
@media all and (min-width: 853px){
  .os {
    gap: 2px;
    margin-left: 2%;
    }
}

